#datatable-apply-filters {
	float: right;
}

table.datatable label {
	width: 40px;
	margin-right: 4px;
	float: left;
	clear: left;
	height: 24px;
}

table.datatable input,
table.datatable select,
table.datatable textarea {
	width: 150px;
}
