table.datatable label {
	width: 40px;
	display: inline;
}

table.datatable input,
table.datatable select {
	margin-bottom: 8px;
	width: 150px;
}

table.datatable input[type=number] {
	margin-bottom: 5px;
	width: 60px;
}
.datatable-filter-buttons {
	overflow:auto;
    clear: both;
}

table.datatable .datatable-filters .number label {
	display:inline-block;
	width: 30px;
}

table.datatable .datatable-filter.date label {
	display:inline-block;
	width: 30px;
}

#datatable-apply-filters {
	width: 90px;
	height: 28px;
}

#datatable-reset-filters {
	margin-left:10px;
}

table.datatable .datatable-filters td {
	padding-bottom: 0;
}

table.datatable .datatable-filters-apply td {
	padding-top: 0;
	padding-bottom: 0;
}

.datatable-filter-buttons {
    overflow: hidden;
}

div.datatable-filter {
    float:left;
    margin: 5px 10px;
}
.datatable-filter-bool select {
    width:80px;
}

.datatable th:last-child, .datatable td:last-child {
        text-align: right !important;
}
